---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

import '../../styles/global.css';

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const base = import.meta.env.BASE_URL;
---
<link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
<div class="posts-page page-page">
    <header class="header-header">
        <h1>Blog Posts</h1>
        <p class="tagline">Pretty cool blog if you ask me! :)</p>
    </header>
    {posts.length === 0 && <p class="empty">No posts yet :()</p>}
    <div class="posts">
        {posts.map((post) => (
            <article class="post-card">
                <a href={`${base}posts/${post.id}`} class="title-link">
                    {post.data.title}
                </a>
                <p class="description">{post.data.description}</p>
                <p class="meta">
                    Published on <FormattedDate date={post.data.pubDate} />
                </p>
            </article>
        ))}
    </div>
</div>